<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Habitaciones</title>
  </head>
  <body>
    <div class="h-screen bg-gray-800">
      <header class="flex items-center justify-center gap-x-40 bg-blue-700 p-6">
        <h1 class="text-4xl font-semibold text-white">Habitaciones</h1>
      </header>
      <main class="flex items-center justify-center mt-6">
        <table class="bg-gray-600 rounded border border-white">
          <thead>
            <tr class="text-white text-2xl">
              <th class="px-4 py-2">ID</th>
              <th class="px-4 py-2">Capacidad</th>
              <th class="px-4 py-2">Tipo de habitación</th>
            </tr>
          </thead>
          <th:block th:each="hbt : ${habitaciones}">
            <tr class="text-xl text-center">
              <td th:text="${hbt.id}"></td>
              <td th:text="${hbt.capacidad}"></td>
            </tr>
          </th:block>
        </table>
      </main>
    </div>
  </body>
</html>