<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Reservas</title>
  </head>
  <body>
    <div class="h-screen bg-gray-800">
      <header class="flex items-center justify-center gap-x-40 bg-blue-700 p-6">
        <h1 class="text-4xl font-semibold text-white">Reservas</h1>
      </header>
      <main class="flex items-center justify-center mt-6">
        <table class="bg-gray-600 rounded border border-white">
          <thead>
            <tr class="text-white text-2xl">
              <th class="px-4 py-2">ID</th>
              <th class="px-4 py-2">Check in</th>
              <th class="px-4 py-2">Fecha inicio reserva</th>
              <th class="px-4 py-2">Fecha final reserva</th>
            </tr>
          </thead>
          <th:block th:each="hbt : ${reservas}">
            <tr class="text-xl text-center">
              <td th:text="${hbt.id}"></td>
              <td th:text="${hbt.check_in}"></td>
              <td th:text="${hbt.check_out}"></td>
              <td th:text="${hbt.fecha_inicio_reserva}"></td>
              <td th:text="${hbt.fecha_final_reserva}"></td>
              <td>
                <a th:href="@{reservas/{id}/edit(id=${hbt.id})}">Editar</a>
                <a
                  th:href="@{reservas/{id}/delete(id=${hbt.id})}"
                  onclick="return confirm('¿Estás seguro de borrar este bar?')"
                >
                  Borrar
                </a>
            </tr>
          </th:block>
        </table>
      </main>
    </div>
  </body>
</html>