<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Requerimientos funcionales</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <div th:replace="~{fragments/navBar :: navBar(Regresar, '/roles')}"></div>

  <main style="margin-bottom: 40px;">
    <h1 class="text-center m-4">Requerimientos funcionales - Entrega 2</h1>
    <div class="container d-flex flex-column" style="width: 350px;">
      <a class="btn btn-primary my-1">RQF-1: Dinero recolectado</a>
      <a class="btn btn-primary my-1">RQF-2: Servicios más populares</a>
      <a class="btn btn-primary my-1">RQF-3: Indices de ocupación</a>
      <a class="btn btn-danger my-1">RQF-4:</a>
      <a class="btn btn-primary my-1">RQF-5: Consumos usuario</a>
      <a class="btn btn-primary my-1">RQF-6: Fecha Mayor ocupación</a>
      <a class="btn btn-primary my-1">RQF-7: Buenos clientes</a>
      <a class="btn btn-primary my-1">RQF-8: Servicios menos demanda</a>
      <a class="btn btn-primary my-1">RQF-9: Consumos de servicio usuario</a>
      <a class="btn btn-primary my-1">RQF-10: No. Consumos servicios usuario</a>
      <a class="btn btn-danger my-1">RQF-11: </a>
      <a class="btn btn-danger my-1">RQF-12: </a>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>